.social-bar {
    background: url("../../assets/siteElements/SVG/socialBar_1.svg") repeat 0 0;
    background-color: transparent;
    margin-bottom: -30px;
    left: 0;
    overflow-x: hidden;
    
    background-size: cover;
    background-position: left;
    
    -webkit-animation: bk 20s -5s linear infinite alternate-reverse;
    animation: bk 20s -5s linear infinite alternate-reverse;
    animation-timing-function: ease-in-out;
    background-clip: border-box;
    transform: translateZ(0);
    
}   

.behind {
    position: relative;
    z-index: -10;
    
}

@-webkit-keyframes bk {
    100% {
        background-position: right;
    }
  }
  @keyframes bk {
    100% {
        background-position: right;
    }
  }

.nav-bar {
    background-image: url("../../assets/siteElements/SVG/navBar.svg");
    background-color: transparent;
    margin-top: -40px;
    position: relative;
    z-index: 10;
    background-size: cover;
    background-position: center;
}

.carousel-header {
    font-size: 4em;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    font-family: 'Bangers', cursive;
}

.site-font {
    font-family: 'Bangers', cursive;
}

.footer-bar{
    background-image: url('../../assets/siteElements/SVG/footerBar.svg');
    position: relative;
    z-index: 10;
    border: -2px;
    background-position: left;
    background-size: cover;
    background-color: transparent;
    background-origin: border-box;
    -webkit-animation: bk 20s -5s linear infinite alternate;
    animation: bk 20s -5s linear infinite  alternate;
    animation-timing-function: ease-in-out;
    background-clip: border-box;
    transform: translateZ(0);
    
}

.bg-lightgrey {
    background-color: lightgrey;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    /*16:9 */
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.footer-overflow {
    max-height: 400px;
    overflow: hidden;
    
}

.footer-logo {
    margin-top: -37%;
    margin-bottom: 3%;
    position: relative;
    z-index: 10;
    

      @media only screen and (min-width: 768px) {
        margin-top: -37%;
        margin-bottom: 5%;
      }
      @media only screen and (min-width: 992px) {
        margin-top: -30%;
        margin-bottom: 5%;
      }
      @media only screen and (min-width: 1200px) {
        margin-top: -23%;
        margin-bottom: 6%;
      }
      @media only screen and (min-width: 1400px) {
        margin-top: -16%;
        margin-bottom: 3%;
      }
      
    
}

.bg-free {
    background-image: linear-gradient(to bottom, lightslategray, darkslateblue);
}

.bg-black {
    background-image: linear-gradient(to top, black, lightslategrey);
}

.bg-blue {
    background-image: linear-gradient(to top, darkslateblue,dodgerblue);
}

.bg-gold {
    background-image: linear-gradient(to top, orangered, gold);
}

.bg-pink {
    background-image: linear-gradient(to top, purple, salmon);
}

.bg-store {
    background-image: linear-gradient(to right, pink, lightblue);
}

.store {
    border: 1px solid lightgrey;
    background-color: white;
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

